# =========================
# Maven / Gradle
# =========================
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
build/

# =========================
# Logs y archivos temporales
# =========================
*.log
*.tmp
*.bak
*.swp

# =========================
# IDEs y configuraciones
# =========================
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# =========================
# Sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# Credenciales y Configuración sensible
# =========================
*.env
application-*.properties
application-*.yml
